*{
  margin: 0;
  padding: 0;
}
.logo{
  margin-left: 20%;
  font-family: sans-serif;
}
ul li a{
  font-size: 130%;
  color: black;
  margin-top: 20px;
  list-style-type: none;
  text-decoration: none;

}
ul li a:hover{
  color: pink;
}
li{

  display: inline-flex;
  padding: 20px;
}

.container{
  height: auto;
  width: 100%;
  background-color: yellow;
}
@media (max-width: 528px) {
  .navbar_parent{

    margin-top: 30px;
    width:50%;
    display: contents;
    box-shadow: 20 30 1px gray;
    line-height: 50%;
    height:  50%;
    text-align: left;
    text-indent: 18%;
  }

}
